body {
  padding: 0;
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m10 {
  margin: 10px 0;
}
.m20 {
  margin: 20px 0;
}
